gen-*
ThriftThrift
thrift-gen-myjson
*.o
jsontest
test1
test2
test3
thrift-gen-typelib
ns_utils_test
*.a
autom4te.cache
.deps
Makefile
*.log
*.trs
stamp-h1
config.h
config.status
*.cm*
oUnit*.cache
*.so
*.a
*.byte
.depend
